.container {
  width: 100%;
  height: 100vh;

  .background-container{
    background-image: url('./../../../assets/images/lago-lacar.jpg');
    width: 100%;
    height: 100vh;
    position: absolute;
    background-position: bottom;
  }

  .form-container{
    z-index: 1;
    .login-card{
      width: 400px;
      margin-top: 16px;
    }
  }
}

.form{
  display: flex;
  flex-direction: column;

  .containerError{
    margin: 16px 0px 8px 0px;
    color: var(--mdc-theme-error, #f44336);
  }
}

@media (min-width: 960px)  {

  .background-container{
    width: 58% !important;
    position: unset !important;
  }
  .form-container{
    width: 42%;
  }
}
