.form{

  width: 50% !important;
  margin-top: 16px;
  margin-bottom: 32px;

  mat-form-field{
    width: 100% !important;
  }
  .btn-submit{
    width: 100% !important;
  }


  .info-container{
    width: 50%;
  }
}
